.app__about {
    width: 90%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.app__about-left {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__about-video {
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
}

.app__about-video:hover .video-overlay {
    opacity: 1;
}

.video-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all .3s;
    z-index: 2;
}

.video-overlay button {
    background: transparent;
    border: 0;
    outline: none;
    color: var(--white);
    font-size: 35px;
    cursor: pointer;
}

.app__about-video video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.app__about-left h1 {
    margin-top: 1rem;
    width: 500px;
    text-align: center;
    color: var(--white);
}

.app__about-right {
    width: 500px;
}

.app__about-right h1 {
    color: var(--white);
    margin-bottom: 2rem;
    text-transform: capitalize;
    text-align: center;
}

.app__about h1 span {
    color: var(--dark__red);
}

.app__about-right p {
    font-size: 14px;
    text-align: justify;
    color: var(--white);
    margin-bottom: 1rem;
}

.app__about-list {
    list-style: none;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-bottom: 2.5rem;
}

.app__about-list .check {
    transform: translateY(2px);
    margin-right: 8px;
    color: var(--dark__red);
}

.app__about-more {
    padding: .5rem 1.5rem;
    background: var(--dark__red);
    color: var(--white);
    border-radius: 12px 0 12px 12px;
}

.app__about-more button {
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    font-size: 16px;
}

@media screen and (width <= 1160px) {
    .app__about-video {
        width: 400px;
        height: 270px;
    }

    .app__about-left h1 {
        width: 400px;
    }
}

@media screen and (width <= 950px) {
    .app__about {
        padding-bottom: 60px;
        flex-direction: column;
        gap: 3rem;
    }

    .app__about-left {
        width: 100%;
    }

    .app__about-right {
        width: 80%;
        margin: auto;
    }

    .app__about-left h1 {
        width: 80%;
        margin-bottom: 1rem;
    }

    .app__about-left {
        flex-direction: column-reverse;
    }

    .app__about-right h1 {
        margin-bottom: 1rem;
    }
}

@media screen and (width <= 700px) {
    .app__about-left,
    .app__about-right {
        width: 100%;
    }
}


@media screen and (width <= 420px) {
    .app__about-video {
        width: 100%;
    }


    .app__about-left h1 {
        width: 100%;
    }
}