.menu__item {
    margin: 18px 4px;
    width: 300px;
    overflow: hidden;
}

.img__container {
    width: 100%;
    aspect-ratio: 1.5;
    position: relative;
}
.plat__img {
    width: 100%;
    height: 100%;
}
.plat__info {
    position: absolute;
    bottom: 0;
    left: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.img__container:hover .plat__info {
    opacity: 1;
    bottom: 10%;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.img__container:hover .overlay {
    background: rgba(0, 0, 0, 0.9);
}
.plat__info h1 {
    text-transform: capitalize;
    color: var(--white);
}
.plat__info p {
    color: var(--dark__red);
    --lineH: 20px;
    line-height: var(--lineH);
    height: calc( 2 * var(--lineH));
    overflow: hidden;
}
.plat__info b {
    color: var(--gris);
}

.btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.btns .btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    padding: 8px;
    background: var(--soft__blue);
    color: var(--white);
    border: 0;
    outline: none;
    transition: all .2s;
}
.btns .btn span {
    font-size: 0;
}
.btns .btn:hover span {
    font-size: 18px;
    font-weight: 600;
}
.btns .btn .icon {
    font-size: 20px;
}
.btns .btn:hover {
    width: max-content;
    border-radius: 15px;
    background: #212230;
}
.btns .btn:hover .icon {
    font-size: 0;
}

.btns h2 {
    margin-left: auto;
    font-size: 20px;
    color: var(--white);
}
.btns h2::first-letter {
    color: var(--dark__red);
}

.heart {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 24px;
    border: 0;
    outline: none;
    color: red;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    cursor: pointer;
    transition: 0.35s;
}
.img__container:hover .heart {
    background: transparent;
}