.container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    width: 650px;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.search__input {
    width: 100%;
    height: 30px;
    outline: none;
    border: 0;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-left: 10px;
    background: rgba(125, 123, 123, 0.459);
    color: orangered;
    font-size: 18px;
}

.search__input::placeholder {
    color: orangered;
    font-size: 18px;
}

@media screen and (max-width: 876px) {
    .search {
        width: 540px
    }
}

@media screen and (max-width: 601px) {
    .search {
        width: 330px
    }
}