.app__gallery {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.app__gallery-info {
    width: 550px;
}

.app__gallery-info h3 {
    line-height: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.app__gallery-info h3 .key {
    color: var(--gris);
    font-size: 30px;
    transform: scale(2, 1) translateX(4px);
}

.app__gallery-info h1 {
    margin-bottom: 1rem;
    color: var(--white);
}

.app__gallery-info p {
    margin-bottom: 1rem;
    color: var(--white);
}

.app__gallery-info button {
    background: var(--dark__red);
    outline: none;
    border: 2px solid var(--dark__red);
    border-radius: 12px;
    color: var(--white);
    font-size: 18px;
    padding: 6px 12px;
    cursor: pointer;
    transition: all .3s;
}

.app__gallery-info button:hover {
    color: var(--orange);
    border: 2px solid var(--orange);
    background: transparent;
}

.app__gallery-images {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 600px;
    height: 300px;
}

.app__gallery-insta {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    max-width: max-content;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.pic-container {
    position: relative;
    width: 200px;
    height: 100%;
}

.pic-container .pic {
    height: 100%;
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.ista-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    opacity: .4;
    font-size: 24px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.pic-container:hover .ista-icon {
    opacity: 1;
}

.pic-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: .2s ease-in-out;
}

.pic-container:hover .pic-overlay {
    opacity: 1;
}

.Arrow {
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: var(--dark__red);
    border-radius: 50%;
    z-index: 5;
}

.Arrow.left {
    left: 1rem;
}

.Arrow.right {
    right: 1rem;
}

@media screen and (width <= 1200px) {
    .app__gallery {
        flex-direction: column;
        gap: 3rem;
    }
}

@media screen and (width <= 800px) {
    .app__gallery-images {
        max-width: 500px;
        height: 250px;
    }

    .pic-container,
    .pic-container .pic {
        width: 180px;
    } 

    .app__gallery-info button {
        font-size: 16px;
    }
}

@media screen and (width <= 600px) {
    .app__gallery-info {
        width: 90%;
        margin: auto;
    }

    .app__gallery-images {
        max-width: 90%;
        margin: auto;
    }
}