.app__menu-side-item-main {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
}

.app__menu-side-item {
    padding-top: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    background: var(--soft__blue);
    animation: slide-right .4s linear alternate;
}

.close__side-item {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
}

.app__menu-side-item-info {
    width: 90%;
    margin: auto;
}

.app__menu-side-item-info h1 {
    color: var(--black);
}

.app__menu-side-item-info p  {
    width: max-content;
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 1rem;
    font-size: 18px;

}

.app__menu-side-item-info p h4 {
    color: var(--white);
}

.app__menu-side-item-info p h4::first-letter {
    color: var(--dark__red);
}

.app__menu-side-item-info p button {
    cursor: pointer;
    background: var(--dark__red);
    color: var(--white);
    border: 2px solid var(--dark__red);
    border-radius: 8px;
    outline: none;
    padding: 4px 12px;
    font-size: 18px;
    font-weight: 600;
    transition: .2s;
}

.app__menu-side-item-info p button:hover {
    background: transparent;
    color: var(--orange);
    border-color: var(--orange);
}

.app__menu-side-item-wrapper {
    width: 100%;
    height: 180px;
    padding: 10px 0;
    margin: auto;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.app__menu-side-item-pics {
    width: max-content;
    height: 100%;
    display: flex;
    gap: 1rem;
    /* white-space: nowrap; */
    /* will-change: transform; */
    animation: showPics 10s linear infinite;
}

.app__menu-side-item-pics:hover {
  animation-play-state: paused;
}

.app__menu-side-item-pics img {
    border-radius: 20px;
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.app__menu-side-item-info h3 {
    color: var(--dark);
}

@media screen and (width <= 876px) {
    .app__menu-side-item {
        width: 400px;
    }
}

@media screen and (width <= 500px) {
    .app__menu-side-item {
        width: 100%;
    }

    .app__menu-side-item-wrapper {
        padding: .5rem 0;
    }

    .app__menu-side-item-pics {
        gap: .5rem;
    }

    .app__menu-side-item-pics img {
        border-radius: 12px;
    }
}