.app__menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.app__menu-left {
    display: flex;
    gap: 15px;
}

.app__menu-item {
    position: relative;
    width: 190px;
    padding: 0 10px 20px 10px;
    background-image: linear-gradient(to top, var(--soft__blue), rgba(0, 0, 0, 0) 70%);
    backdrop-filter: blur(50px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 30px;
}

.app__menu-item-img {
    width: 100%;
    aspect-ratio: 1;
}

.app__menu-item-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.app__menu-item button {
    cursor: pointer;
    position: absolute;
    bottom: -16px;
    right: 8px;
    background: var(--black);
    color: var(--white);
    padding: 8px;
    outline: none;
    border: 0;
    border-radius: 8px 8px 20px 8px;
}

.app__menu-item-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px;
}

.app__menu-item-name {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.app__menu-item-name h4 {
    color: var(--black);
}
.app__menu-item-name small {
    color: var(--gris);
}
.app__menu-item-name h5 {
    color: var(--dark__red);
}

.app__menu-item-fav {
    margin-top: 4px;
    padding: 4px;
    background: #404040;
    border-radius: 50%;
}

.app__menu-heart {
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 18px;
    color: var(--dark__red);
}

.app__menu-right {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__menu-right h1 {
    color: var(--white);

}

.app__menu-right h1 span {
    color: var(--dark__red);
}

.app__menu-right p {
    width: 80%;
    margin-top: 2rem;
    color: var(--white);
    text-align: justify;
}


@media screen and (width <= 520px) {
    .app__menu-item {
        width: 140px;
        padding: 0 0 10px 0;
    }

    .app__menu-item-img {
        width: 80%;
        margin: auto;
    }

    .app__menu-item button .heart-cart {
        font-size: 18px;
    }

    .app__menu-right {
        width: 90%;
        margin: auto;
    }

    .app__menu-right h1 {
        width: 100%;
        text-align: center;
    }

    .app__menu-right p {
        text-align: justify;
        width: 100%;
    }
}