.app__header {
    position: relative;
    width: 90%;
    margin: auto;
    height: 98vh;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(25, 255, 255, 0));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.app__header-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(10px);
    padding: 0 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.app__header .before,
.app__header .after,
.app__header .corner {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: blur(30px);
}

.app__header .after {
    top: -35px;
    left: -35px;
    background: rgb(0, 0, 0);
}

.app__header .before {
    bottom: -35px;
    right: -35px;
    background: rgb(255, 0, 40);
}

.app__header .corner {
    bottom: -35px;
    left: -35px;
    background: rgb(0, 255, 40);
}

.app__header-info {
    width: 300px;
}

.app__header-info h1 {
    color: black;
    font-size: 36px;
    margin-bottom: 3rem;
}

.app__header-info a {
    text-decoration: none;
    padding: .5rem 1.5rem;
    font-size: 18px;
    background: black;
    color: var(--white);
    border-radius: 12px 12px 0 12px;
}

.app__header-info a:hover .arrow {
    transform: rotate(420deg);
}

.app__header-info a .arrow {
    margin-left: 1rem;
    transition: all .5s ease-in-out;
}

.app__header-banner {
    display: flex;
    gap: 5px;
    width: 600px;
    aspect-ratio: 1.5;
    border-radius: 20px;
    overflow: hidden;
}

.app__header-banner .app__header-item {
    height: 100%;
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.app__header-banner  .app__header-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app__header-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.4));
    transition: all .3s linear;
}

.app__header-item:hover .overlay {
    height: 100%;
}

.app__header-item-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    transition: all .2s ease-out;
}

.app__header-item:hover .app__header-item-info {
    opacity: 1;
    bottom: 20px;
}

.app__header-info-icons {
    margin-top: 2rem;
    display: flex;
    gap: 8px;
}

.app__header-info-icons img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: contain;
    background: white;
    cursor: pointer;
    z-index: 5;
}

@media screen and (1000px <= width <= 1200px) {
    .app__header-banner {
        width: 460px;
    }
}

@media screen and (876px <= width <= 1000px) {
    .app__header-banner {
        flex-direction: column;
        align-items: center;
        width: 400px;
        aspect-ratio: 1;
    }

    .app__header-banner .app__header-item {
        width: 60%;
    }

    .app__header-banner .app__header-item:nth-child(1) {
        /* margin-right: auto; */
        margin-left: auto;

    }

    .app__header-banner .app__header-item:nth-child(2) {
        /* margin-left: auto; */
        margin-right: auto;

    }
}

@media screen and (width <= 876px) {
    .app__header {
        padding-top: 40px;
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .app__header-banner {
        width: 300px;
        display: flex;
        overflow-x: scroll;
        padding: 5px 20px;
        scroll-snap-type: x mandatory;
        scroll-padding: 20px;
        gap: 8px;
    }

    .app__header-banner .app__header-item {
        flex: 0 0 100%;
        scroll-snap-align: start;
    }

    .app__header-info h1 {
        font-size: 32px;
    }

    .app__header-info-icons img {
        width: 44px;
        height: 44px;
    }
}

@media screen and (width <= 745px) {
    .app__header-content {
        flex-direction: column;
        border-radius: 0;
    }
}