@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arima', cursive;
}

.app {
    width: 100%;
    min-height: 100vh;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: black;
    color: orangered;
}